[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = false
name = "test"

[packages]
"example-pkg-20180718" = {version="*", index="test"}

[dev-packages]

[requires]
python_version = "3.6"
